* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}

.grid-item {
  background-color: bisque;
  width: 30px;
  height: 30px;
  flex-basis: calc(100%/16);
  outline: 1px solid black;
}